{
  "presets": [
    ["es2015", {
      "modules": false
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-do-expressions",
    "syntax-do-expressions",
    {
      "name": "vux-ui"
    }
  ]
}